html {
  background-color: #FEF9E7;
}

.profile-header {
  background-color: #FCF3CF;
  float: right;
}
.twit-logo {
  height: 20px;
  width: 20px;
}

.link-logo {
  height: 20px;
  width: 20px;
}




.mypic {
  height: 50px;
  width: 50px;
}
